@tailwind base;
@tailwind components;

@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  height:20px;
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #93979e;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d1d4d7;
}